/* Variables */

:root {

  /*Text*/

  --basic-color: #283136;
  --title-color: #000000;
  --adress-color: #666666;
  --btn-color: #FFFFFF;
  --footer-text: #444444;
  --btn-push-color:rgba(255,255,255,0.3);
  --btn-push-another-color: rgba(0,0,0,0.3);


  /*Button*/

  --basic-red: #FB565A;
  --special-light-red: #E74246;
  --special-dark-red: #D7373B;
  --basic-green: #00CA74;
  --special-light-green: #00BC6C;
  --special-dark-green:#00CA74;
  --basic-yellow: #EFC849;
  --special-light-yellow: #EAB534;
  --special-dark-yellow: #E5A722;
  --detecting-status: #DFDFDF;
  --push-status: #D5D5D5;
  --btn-icon: #4D4D4D;

  /*Background*/

  --basic-grey: #EEEEEE;
  --pagination-bg: rgba(0, 0, 0, 0.0001);
  --social-fone: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  --social-choice: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
  --social-push: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;

  /*Form*/

  --rest-color: #D7DCDE;
  --detecting-color:#B4B9BB;
  --form-placeholder: rgba(68,68,68,0.5);


  /*Logo*/

  --logo-push: #A6A6A6;
  --logo-active:#231F20;

  /*Border*/

  --border-color: #DBDBDB;

  /*Shadow*/

  --shadow-color: rgba(0, 1, 1, 0.1);
}

/* Global */

.visually-hidden {
  display: none;       /* Временно скрытые  ненужные заголовки*/
}

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
  min-height: 100%;
  /* display: grid;
  grid-template-rows: min-content 1fr min-content ;
  align-content: start; */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 700;
  font-size: inherit;
}

.btn {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px ;
  font-weight: 500;
  line-height: 18px;
  color: var(--btn-color);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: 0;
  height: 50px;
  border-radius: 3px;
}

/* Grid */

/* .page {
  height: 100%;
}

.wrap-container {
  width: 1158px;
  margin:0 auto;
  padding: 0;
} */

/*Main-background*/

/* .wrap, */
.main-header,
.features,
.store-title
 {
  background-color: var(--basic-grey);
}

/*List-rules*/

.site-navigation,
.slider-list,
.slider-nav-list,
 .offer-list,
 .procent-list,
.partners-list,
.social-list,
.filter-grid,
.filter-details,
.template-sample-list,
.pagination-list
{
  list-style: none;
}

/*Main logo*/

.logo:hover {
  opacity: 0.7;
}

.logo:active {
  opacity: 0.3;
}

/* Main navigation */

/* .main-navigation {
  display: grid;
} */

/* .wrapper {
  display:grid;
  grid-template-columns: 160px 1fr 115px;
  width: 1158px;
  margin:0 auto;
  padding: 0;
} */
/*
.site-cart {
  justify-self: end;
} */

/* .site-navigation {
  justify-self: center;
} */

.site-navigation a,
.site-cart {
  line-height: 30px;
  font-weight: 500;
  color: var(--title-color);
  text-transform: uppercase;
}

.site-navigation .active {
  border-bottom: 2px solid var(--basic-red);
}

.site-navigation a:hover,
.site-cart:hover {
  color: var(--basic-red);
}

.site-navigation a:active,
.site-cart:active {
  color: var(--title-color);
  opacity:0.3
}

/* Main features */

/* .features {
  display: grid;
  grid-row:1/-1;
  width: 1158px;
  margin: 0 auto;
  padding: 0;
} */

.features-slider-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--title-color);
}

.features .btn {
width: 240px;
}

.features .btn:hover {
  background-color: var(--special-light-red);
}

.features .btn:active {
  background-color: var(--special-dark-red);
  color: var(--btn-push-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.slider-item:first-child {
  background-image: url("../img/index-slide-1.png");
  width: 760px;
  height: 431px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/index-slide-2.png");
  width: 760px;
  height: 431px;
}

.slider-item:last-child {
  background-image: url("../img/index-slide-3.png");
  width: 760px;
  height: 431px;
}

/* Main offer */
/*
.offer {
  margin-bottom: 80px;
} */

/* .offer-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin:0 ;
  padding:0;
} */

.offer .title {
  font-size: 24px;
  line-height: 30px;
}

.item-site {
  background: var(--basic-red) url("../img/illustration-1.png");
  width: 300px;
  height: 146px;
}

.item-program {
  background: var(--basic-green) url("../img/illustration-2.png");
  width: 300px;
  height: 146px;
}

.item-visual {
  background: var(--basic-yellow) url("../img/illustration-3.png");
  width: 300px;
  height: 146px;
}

.offer .btn {
  width: 160px;
}
.item-site .btn:hover {
  background-color: var(--special-light-red);
}

.item-site .btn:active {
  background-color: var(--special-dark-red);
  color: var(--btn-push-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.btn-green {
  background-color: var(--basic-green);
}

.btn-green:hover {
  background-color: var(--special-light-green);
}

.btn-green:active {
  background-color: var(--special-dark-green);
  color: var(--btn-push-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.btn-yellow {
  background-color: var(--basic-yellow);
}

.btn-yellow:hover {
  background-color: var(--special-light-yellow);
}

.btn-yellow:active {
  background-color: var(--special-dark-yellow);
  color: var(--btn-push-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

/* Main info */

/* .info {
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:0;
  padding: 0;
} */

/* .info-projects{
  width: 651px;
} */

/* .info-benefits {
  justify-self: end;
} */

/* .procent-wrap {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0;
  padding:0;
} */

.info-projects-resume {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--title-color);
}

.info-project-title {
  color: var(--basic-color);
}

.procent {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--title-color);
}

.lead {
  line-height: 18px;
}

.sign-procent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--title-color);
}

/* Main partners*/

/* .partners {
  margin-bottom: 80px;
} */
/* .partners-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin:0;
  padding:0;
  column-gap: 40px;
} */
/*
.partners-item {
  justify-self: center; */

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

/* Main-footer*/
/*
.footer-contacts {
  display:grid;
  grid-column: 1/-1;
  width: 1158px;
  margin:0 auto;
  padding: 0;
} */

.contacts-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--title-color);
}

.contacts-adress,
.footer-phone {
  line-height: 18px;
  color: var(--adress-color);
}

.footer-contacts {
  background: var(--basic-grey) url("../img/map.png");
  min-width: 1440px;
  height: 416px;
  background-size: cover;
}

.footer-contacts .btn {
  width: 219px;
}

/*
.social-slogan-wrap {
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 1158px;
  margin:0 auto;
  padding: 0;
} */

.social-list {
  width: 300px;
}

.footer-quote {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--title-color);
}

.footer-promotion {
  line-height: 22px;
  color: var(--footer-text);
}

.social-list a {
  background: var(--social-fone);
}

.social-list a:hover {
  background: var(--social-choice);
}

.social-list a:active {
  background: var(--social-push);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.social-list a:active img {
  opacity: 0.3;
}

/*Main-modal*/

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--title-color);
}

.modal-form {
  font-weight: 700;
  line-height: 18px;
  color: var(--title-color);
}

.letter input {
  font-size: inherit;
  line-height: 18px;
  font-weight: inherit;
  color: var(--form-placeholder);
  border: 2px solid var(--rest-color);
  background-color: var(--btn-color);
}

.letter input:hover {
  border-color: var(--detecting-color);
}

.letter input:focus {
  border-color: var(--title-color);
  color: var(--footer-text);
}

.letter input:invalid {
  border-color: var(--special-light-red);
  color: var(--special-light-red);
}

.letter .btn {
  width: 259px;
}

.letter .btn:active {
  outline: none;
}

.modal-close {
  color: var(--basic-red);
  opacity: 0.3;
}

.modal-close:hover {
  color: var(--basic-red);
  opacity: 1;
}

.modal-close:active{
  color: var(--basic-red);
  opacity:0.1;
}


/* Inner page*/

/*Prevailing text*/

.title-cost {
  font-size: 18px;
  line-height: 30px;
}

.filter-field legend,
.sorting,
.template-sample-item a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--title-color);
  text-transform: uppercase;
}

.store-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--title-color);
}

/* Filter*/

.filter-field {
  line-height: 20px;
}

.filter-field li {
  color:  var(--basic-color);
}

.btn-grey {
  background-color: var(--basic-grey);
  color: var(--title-color);
}

.btn-grey:hover {
  background-color: var(--detecting-status);
}

.btn-grey:active {
  background-color: var(--push-status);
  color: var(--btn-push-another-color);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
  outline: none;
}

/* Template*/

/*Template filter*/

.variant li,
.route li {
  display: inline;
}

.variant li {
  color: var(--btn-push-another-color);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.route li {
  color: var(--logo-push);
  opacity: 0.2;
}
/* настройки  (строки 631-649 )route поменяются, т.к. input*/

/* .variant li:hover {
  color: var(--title-color);
  opacity: 0.6;
}

.variant input:checked+label {
  color: var(--title-color);
}

.route li:hover {
  color: var(--logo-push);
  opacity: 1;
}

.route input:checked+label {
  color: var(--logo-active);
} */

/* Template - sample*/

.template-sample-list a:hover {
  color: var(--basic-red);
}

.template-sample-list a:active {
  color: var(--title-color);
  opacity: 0.3;
}

.btn-price:hover {
  background-color: var(--special-light-red);
}

.btn-price:active {
  background-color: var(--special-dark-red);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
  outline: none;
}

.template-describe {
  line-height: 18px;
  color: var(--adress-color);
}

.pagination-list a {
  font-weight: 500;
  line-height: 18px;
  color: var(--title-color);
  background-color: var(--basic-grey);
}

.pagination-list a:hover {
  background-color: var(--detecting-status);
}

.pagination-list a:active {
  color: var(--btn-push-another-color);
  background-color: var(--push-status);
  box-shadow: inset 0px 3px 0px var(--shadow-color);
}

.pagination-current a,
.pagination-current a:hover,
.pagination-current a:active {
  background-color:  var(--pagination-bg);
  border: 3px solid var(--border-color);
}
